

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .clip-path-hexagon {
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    }
  }

  @keyframes updown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Moves up by 10px */
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-updown {
    animation: updown 2s ease-in-out infinite;
  }
 
  @keyframes downup {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px); /* Moves down by 10px */
    }
    100% {
      transform: translateY(0);
    }
}

.animate-downup {
    animation: downup 2s ease-in-out infinite;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 5s linear infinite;
}

.sharp-cut-corner {
  position: relative; /* So the ::after pseudo-element can position relative to this div */
  overflow: hidden; /* To hide any part of the triangle that goes outside the div */
}

.sharp-cut-corner::after {
  content: ""; /* Creates the pseudo-element */
  position: absolute;
  top: 0;
  right: 0;
  width: 40px; /* Controls the size of the cut */
  height: 40px; /* Controls the size of the cut */
  background-color: #fff; /* Color of the background (use your div's background color) */
  clip-path: polygon(100% 0, 100% 100%, 0 100%); /* Creates the triangular cut */
}

